<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483479203616-p39dc9cufcl4jso1k8ftlm3rakb6n13a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483479203616-p39dc9cufcl4jso1k8ftlm3rakb6n13a</string>
	<key>API_KEY</key>
	<string>AIzaSyDOnDNtjjmMCgNEAgsuHC_INDZ35ZXS6y0</string>
	<key>GCM_SENDER_ID</key>
	<string>483479203616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.Plantomo</string>
	<key>PROJECT_ID</key>
	<string>plantomo-77b76</string>
	<key>STORAGE_BUCKET</key>
	<string>plantomo-77b76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483479203616:ios:176377e98829f96fbf3145</string>
</dict>
</plist>